@model SocialMediaDto


<ul class="social-icons">
    <li><a href="@Model.GithubUrl" target="_blank">GitHub</a></li>
    <li><a href="@Model.TwitterUrl" target="_blank">Twitter</a></li>
    <li><a href="@Model.InstagramUrl" target="_blank">Instagram</a></li>
    <li><a href="@Model.LinkedinUrl" target="_blank">Linkedin</a></li>
    <li><a href="mailto:@Model.GmailUrl">Gmail</a></li>
</ul>

